[submodule "Dependencies/Kingfisher"]
	path = Dependencies/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "Dependencies/CitrusGraphics"]
	path = Dependencies/CitrusGraphics
	url = https://github.com/citruspay/citruspay-ios-sdk.git
